body {
background: #eeece6;
margin: 0;
padding: 0;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
line-height: 16px;
color: #333;
}

a:link, a:visited {
color: #006699;
text-decoration: none;
}

a:link:hover {
text-decoration: underline;
}


#Wrapper {
background-image:url(../images/bg.gif);
background-repeat:repeat-y;
background-position:center;
position: absolute;
padding: 0;
position: absolute;
width: 100%;
}

#Container {
padding: 0;
margin: 0;
width: 1170px;
min-height: 600px;

margin-left:auto;
margin-right:auto;
}






#Header {
height: 90px;
padding: 0;
margin: 10px 40px 10px 50px;
}

#logo {
height: 90px;
width: 300px;
padding: 0;
margin: 0;
}

#nav {
height: 70px;
width: 460px;
position: absolute;
top: 26px;
left: 50%;
text-align: right;
padding: 0;
margin: 0;
}


#support {
position: absolute;
top: 0px;
left: 0px;
}

#support a span {
display: none;
}

#support a {
display: block;
width: 75px;
height: 21px;
background-image: url(../images/header_button_support.gif);
background-repeat: no-repeat;
background-position: 0 0px;
}

#support a:hover {
display: block;
width: 75px;
height: 21px;
background-image: url../images/header_button_support.gif);
background-repeat: no-repeat;
background-position: 0 -21px;
}



#products {
position: absolute;
top: 0px;
left: 80px;
}

#products a span {
display: none;
}

#products a {
display: block;
width: 80px;
height: 21px;
background-image: url(../images/header_button_products.gif);
background-repeat: no-repeat;
background-position: 0 0px;
}

#products a:hover {
display: block;
width: 80px;
height: 21px;
background-image: url../images/header_button_products.gif);
background-repeat: no-repeat;
background-position: 0 -21px;
}



#customers {
position: absolute;
top: 0px;
left: 165px;
}

#customers a span {
display: none;
}

#customers a {
display: block;
width: 91px;
height: 21px;
background-image: url(../images/header_button_customers.gif);
background-repeat: no-repeat;
background-position: 0 0px;
}

#customers a:hover {
display: block;
width: 91px;
height: 21px;
background-image: url(../images/header_button_customers.gif);
background-repeat: no-repeat;
background-position: 0 -21px;
}



#community {
height: 30px;
width: 54%;
float: left;
text-align: center;
margin: 10px 0 0 0;
padding: 6px 10px 0 10px;
background-image: url(../images/header_nav_bg.gif);
background-repeat:repeat-x;
}

#contact {
height: 30px;
width: 37%;
float: right;
text-align: center;
margin: 10px 0 0 0;
padding: 6px 10px 0 10px;
background-image: url(../images/header_nav_bg.gif);
background-repeat:repeat-x;
}





#leftColumn {
background: #d6d0c6;
padding: 0;
margin: 0 0 0 40px;
width: 220px;
float: left;
}

#navColumn {
padding: 0;
margin: 0;
}

#navColumn h5 {
font-size: 18px;
line-height: 24px;
font-weight: normal;
margin: 0;
padding: 8px 0 0 8px;
border-top: 1px solid white;
}

#navColumn h5 a {
color: #333333;
text-decoration: none;
}

#navColumn h5 a:hover {
color: #666666;
}

.closed {
background-color: #e8e2da;
}

#navColumn img {
padding: 0;
margin: 0 4px 0 10px;
position: relative;
top: 1px;
}

#navColumn ul {
margin: 0;
padding: 0 10px 10px 10px;
font-size: 12px;
line-height: 18px;
list-style: none;
}

#navColumn li {
display: block;
margin: 0 0 0 30px;
padding: 1px 0 0 0;
}

#navColumn li ul {
display: none;
}

#navColumn ul li a {
display: block;
text-decoration: none;
color: #333333;
padding: 4px;
background: #d6d0c6;
margin: 0;
white-space: nowrap;
}

#navColumn li a:link:hover {
color: #ffffff;
background-color: #a9a59d;
}

#navColumn a.selected {
color: #ffffff;
padding: 7 10 7 20;
background: #a9a59d;
}

#navColumn li strong {
display: block;
white-space: nowrap;
color: #ffffff;
font-weight: normal;
padding: 4px;
margin: 0;
background: #a9a59d;
}







#bodyColumn {
padding: 0 10px 0 15px;
margin: 0;
width: 645px;
float: left;
border-right: 1px solid #d4d2c9;
}

#rssWidget {
background-color: #fff6e9;
padding: 6px;
}

h2 {
font-size: 28px;
line-height: 34px;
font-weight: normal;
color: #843825;
}

h3 {
font-size: 24px;
line-height: 30px;
font-weight: normal;
color: #843825;
}

h4 {
font-size: 18px;
line-height: 26px;
font-weight: normal;
padding: 10px 0 0 0;
margin: 18px 0 10px 0;
line-height: 100%;
color:  #333333;
}

h5 {
font-size: 16px;
font-weight: normal;
padding: 12px 0 10px 0;
margin: 0;
color: #333333;
}

h6 {
font-size: 12px;
font-weight: bold;
padding: 12px 0 10px 0;
margin: 0;
color: #333333;
}

small {
font-size: 12px;
}

p {
margin: 0 0 8px 0;
}

table {
padding: 0;
margin: 0;
font-size: 12px;
line-height: 16px;
background-color: #f6f7f8;
}

th {
font-weight: normal;
text-align: left;
padding-left: 4px;
width: 160px;
border-right: 1px solid #FFF;
border-bottom: 1px solid #FFF;
}

td {
padding: 3px;
margin: 0;
border-bottom: 1px solid #FFF;
}








#rightColumn {
padding: 0;
margin: 0 40px 0 0;
width: 190px;
float: right;
}

#rightColumn ul {
margin: 0;
padding: 0;
font-size: 12px;
font-weight: bold;
line-height: 22px;
list-style: none;
}

#rightColumn li {
display: block;
margin: 0;
padding: 1px;
}

#rightColumn li ul {
display: none;
}

#rightColumn ul li a {
display: block;
text-decoration: none;
color: #006699;
padding: 6 0 6 0;
background: #FFFFFF;
margin: 0 0 0 1px;
white-space: nowrap;
}

#rightColumn li a:link:hover {
background-color: #f6f7f8;
}

#schedule {
margin: 0;
padding: 10px;
font-size: 11px;
line-height: 15px;
border: 3px solid #e8e2da;
}

hr {
border: none 0;
border-top: 1px dotted #666666;
height: 1px;
margin: 4px 0 4px 0;
padding: 1px;
}

#blog {
margin: 0;
padding: 0;
}










#Footer {
background-color: #f4f2ef;
color: #666666;
padding: 10px 0 10px 0;
margin: 20px 0 10px 40px;
font-size: 11px;
text-align: center;
width: 1090px;
float: left;
}









#navList {
    margin:0;
    padding:0;
}



#navColumn li.parent{
    padding:0px;
    margin: 0px;
    border: none;
}
a img {
    border: none;
}

#navColumn li a.parent{
    background:none;
}

.headline-promo {
    border: 1px solid #d6d0c6;
    padding: 5px 10px 10px 10px;
    margin-bottom: 10px;
}






















