<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--REST Servlet-->
    <!-- Comment out to disable RESTful web services-->
    <servlet>
        <servlet-name>Ehcache RESTful Web Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>net.sf.ehcache.server.rest.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ehcache RESTful Web Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!--
    SOAP Servlet
    Comment out to disable SOAP Web Services
    -->

    <servlet>
        <servlet-name>EhcacheWebServiceEndpoint</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EhcacheWebServiceEndpoint</servlet-name>
        <url-pattern>/soap/EhcacheWebServiceEndpoint</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>


    <!--Orderly startup and shutdown via this listener-->
    <listener>
        <listener-class>net.sf.ehcache.server.ServerContext</listener-class>
    </listener>


</web-app>
